table {
    margin: 1rem 0;
}

table,
th,
td {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 190px;
    table-layout: fixed;
}

td {
    padding: 10px;
}

th {
    padding: 25px;
}